<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}{% end %}
    <link rel="stylesheet" href="{{ static_url("css/amazeui.css")}}">
    <style>
        .footer {
            position:fixed;
            width:100%;
            text-align: center;
            font-size: 16px;
            z-index: 1030;
            bottom: 0;
            height: auto;
        }
    </style>
</head>
<body>
<div class="content">
    {% block content %}{% end %}
</div>
<div class="footer">
    {% block footer %}{% end %}
</div>
</body>
<script type="text/javascript" src="{{ static_url("js/jquery.min.js") }}"></script>

<script type="text/javascript" src = "{{ static_url("js/amazeui.js") }}" ></script>

<script type="text/javascript" src="{{ static_url("js/app.js") }}"></script>


{% block js %}

{% end %}

</html>